<p style="color: #070f1a;">kosik works!</p>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uspesna-Objednavka</title>
</head>

<body>
    <div class="stred">
    <h1 class="nadpis">Objednávka byla dokončena úspěšně!</h1>
    <hr>
    <p>Tak, zase já. Doufám, že sis všiml toho nápisu dole. Taky doufám, že jestli sis ho přečetl, tak i přesto pokračuješ ve čtení tohohle skvostu, který tady tvořím. Prej mám oznámit všem, kteří si řekli, že tuhle stránku použijí a že jí budou věřit, že jsou na omylu. Nechceme info o vaší kreditce ani nic podobnýho. I když – jestli mi chcete poslat ofocenou kreditku z obou stran, tak fotky posílejte na mail therfi1&#64;uhk.cz, ale to odbočuju.

        Musím vám prý jen říct, že tohle je studentskej projekt, nikoli nějakej reálnej e-shop. Takže jestli jsi počítal s knihou, tak smůla – jdi na Knihy Dobrovský. Tam jsme taky ukradli ty obrázky &lt;3, což taky doufáme, že nebude problém, vzhledem k tomu, že je to jen ten studentskej projekt. Ale jestli to i tak bude někomu připadat jako mega špatný, tak si ty debilní obrázky překreslím v Malování ručně.
        
        Díky za pozornost a knihu nečekej.
    </p>
    <hr>
    <button class="zpet" routerLink="/home">Zpět Domů</button>
    </div>
</body>

</html>
