<p style="color: #070f1a;">kosik works!</p>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knihy</title>
</head>

<body>
    <div class="total">
        <div class="price-text">Celková cena: </div>
        <div class="price-number">{{ totalPrice }},-</div>
        <button [disabled]="books.length == 0" class="finish-order-button" routerLink="/konec">Dokončit objednávku</button>
    </div>

    <div class="cart-container">
        @for (book of books; track book.id) {
        <div class="cart-item">
            <div class="cart-image" (click)="bookCardClicked(book.id)">
                <div class="cart-image-content">
                    @if (book.hasImage) {
                    <img [src]="cartService.rootUrl + '/api/book/image/' + book.id" class="cart-image">
                    } @else {
                    <i class="fas fa-book" style="font-size: 48px; color: #999;"></i>
                    }
                </div>
            </div>
            <div class="cart-details" (click)="bookCardClicked(book.id)">
                <h2>{{ book.name }}</h2>
                <h4 style="color:gray;">{{ book.author.firstName }} {{ book.author.lastName }}</h4>
                <div class="cart-price">
                    <h2 class="price-text">Cena: </h2>
                    <h2 class="price-number">{{ book.price }},-</h2>
                </div>
                <button class="remove-button" (click)="removeBook(book.id)">
                    <i class="fas fa-trash"></i> Odstranit
                </button>
            </div>
        </div>
        } @empty {
        @if (loading) {
        <div class="spinner-container">
            <mat-spinner></mat-spinner>
        </div>
        }
        }
    </div>
</body>

</html>