<p style="color: #070f1a;">kosik works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knihy</title>
</head>
<body>
    <div class="stred">
        <div class="kniha">
            <div class="obrazekDiv">
            <div class="obrazek">
                <img src="https://www.knihydobrovsky.cz/thumbs/book-cart/mod_eshop/produkty/a/arila-stribrne-mesto-9788076617070_11.jpg">
            </div>
            </div>
            <div class="nazevKnihy">
                <h2>Arila: Stříbrné město</h2>
                <br>
                <h4 style="color:gray;">Radek "Sterakdary" Starý</h4>
            </div>
            <div class="pocetDiv">
                <h3>Počet:</h3>
                <button class="pocetButton">-</button>
                <input type="number" name="booksCount" oninput="this.value = Math.max(0, Math.min(999, this.value))" />
                <button class="pocetButton">+</button>
            </div>
            <div class="cenaDiv">
                <h2 class="cena">Cena: </h2>
                <h2 style="color: #00ccff;">399,-</h2>
                <button class="smazatButton">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>  



        <div class="kniha">
            <div class="obrazekDiv">
            <div class="obrazek">
                <img src="https://www.knihydobrovsky.cz/thumbs/book-cart/mod_eshop/produkty/a/arila-pad-temnoty-9788076618732_3.jpg">
            </div>
            </div>
            <div class="nazevKnihy">
                <h2>Arila: Pád temnoty</h2>
                <br>
                <h4 style="color:gray;">Radek "Sterakdary" Starý</h4>
            </div>
            <div class="pocetDiv">
                <h3>Počet:</h3>
                <button class="pocetButton">-</button>
                <input type="number" name="booksCount" oninput="this.value = Math.max(0, Math.min(999, this.value))" />
                <button class="pocetButton">+</button>
            </div>
            <div class="cenaDiv">
                <h2 class="cena">Cena: </h2>
                <h2 style="color: #00ccff;">339,-</h2>
                <button class="smazatButton">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>



        <div class="kniha">
            <div class="obrazekDiv">
            <div class="obrazek">
                <img src="https://www.knihydobrovsky.cz/thumbs/book-cart/mod_eshop/produkty/a/arila-hranice-casu-9788074987731.jpg">
            </div>
            </div>
            <div class="nazevKnihy">
                <h2>Arila: Hranice času</h2>
                <br>
                <h4 style="color:gray;">Radek "Sterakdary" Starý</h4>
            </div>
            <div class="pocetDiv">
                <h3>Počet:</h3>
                <button class="pocetButton">-</button>
                <input type="number" name="booksCount" oninput="this.value = Math.max(0, Math.min(999, this.value))" />
                <button class="pocetButton">+</button>
            </div>
            <div class="cenaDiv">
                <h2 class="cena">Cena: </h2>
                <h2 style="color: #00ccff;">499,-</h2>
                <button class="smazatButton">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>



        <div class="kniha">
            <div class="obrazekDiv">
            <div class="obrazek">
                <img src="https://www.knihydobrovsky.cz/thumbs/book-cart/mod_eshop/produkty/o/one-piece-7-dedek-plesnivej-9788076797314.jpg">
            </div>
            </div>
            <div class="nazevKnihy">
                <h2>One Piece 7: Dědek plesnivej</h2>
                <br>
                <h4 style="color:gray;">Eiičiró Oda</h4>
            </div>
            <div class="pocetDiv">
                <h3>Počet:</h3>
                <button class="pocetButton">-</button>
                <input type="number" name="booksCount" oninput="this.value = Math.max(0, Math.min(999, this.value))" />
                <button class="pocetButton">+</button>
            </div>
            <div class="cenaDiv">
                <h2 class="cena">Cena: </h2>
                <h2 style="color: #00ccff;">223,-</h2>
                <button class="smazatButton">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>



        <div class="kniha">
            <div class="obrazekDiv">
            <div class="obrazek">
                <img src="https://www.knihydobrovsky.cz/thumbs/book-cart/mod_eshop/produkty/a/arila-pad-temnoty-9788076618732_3.jpg">
            </div>
            </div>
            <div class="nazevKnihy">
                <h2>Deníky apatykářky 1</h2>
                <br>
                <h4 style="color:gray;">Icuki Nanao, Nacu Hjúga</h4>
            </div>
            <div class="pocetDiv">
                <h3>Počet:</h3>
                <button class="pocetButton">-</button>
                <input type="number" name="booksCount" oninput="this.value = Math.max(0, Math.min(999, this.value))" />
                <button class="pocetButton">+</button>
            </div>
            <div class="cenaDiv">
                <h2 class="cena">Cena: </h2>
                <h2 style="color: #00ccff;">179,-</h2>
                <button class="smazatButton">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>



        <div class="kniha">
            <div class="obrazekDiv">
            <div class="obrazek">
                <img src="https://www.knihydobrovsky.cz/thumbs/book-cart/mod_eshop/produkty/767233002/jujutsu-kaisen-proklete-valky-14-spravne-se-rozhodnout.jpg">
            </div>
            </div>
            <div class="nazevKnihy">
                <h2>Jujutsu Kaisen - Prokleté války 14: Správně se rozhodnout</h2>
                <br>
                <h4 style="color:gray;">Gege Akutami</h4>
            </div>
            <div class="pocetDiv">
                <h3>Počet:</h3>
                <button class="pocetButton">-</button>
                <input type="number" name="booksCount" oninput="this.value = Math.max(1, Math.min(999, this.value))" />
                <button class="pocetButton">+</button>
            </div>
            <div class="cenaDiv">
                <h2 class="cena">Cena: </h2>
                <h2 style="color: #00ccff;">223,-</h2>
                <button class="smazatButton">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>



        <div class="kniha">
            <div class="obrazekDiv">
            <div class="obrazek">
                <img src="https://www.knihydobrovsky.cz/thumbs/book-cart/mod_eshop/produkty/p/piknik-u-cesty-9788075538840_1.jpg">
            </div>
            </div>
            <div class="nazevKnihy">
                <h2>Piknik u cesty</h2>
                <br>
                <h4 style="color:gray;">Boris Natanovič Strugackij, Arkadij Natanovič Strugackij</h4>
            </div>
            <div class="pocetDiv">
                <h3>Počet:</h3>
                <button class="pocetButton">-</button>
                <input type="number" name="booksCount" oninput="this.value = Math.max(1, Math.min(999, this.value))" />
                <button class="pocetButton">+</button>
            </div>
            <div class="cenaDiv">
                <h2 class="cena">Cena: </h2>
                <h2 style="color: #00ccff;">294,-</h2>
                <button class="smazatButton">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>




        <hr>
        <button class="dokoncitObjednavku">Dokončit objednávku</button>
        <div></div>


    </div>
    
</body>
</html>