.dashboard-container {
  padding: 20px;
  margin: 55px;
  margin-top: 70px;
  color: #fafafa;
}

.controls {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.Cudl {
  border: #00ccff 1px solid;
  border-radius: 5px;
  padding: 12px;
  background-color: #0c192c;
  color: #fafafa;
  margin-right: 5%;
  font-size: 17px;
}

hr {
  background-color: #0087a93a;
  height: 1px;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Cudl:hover {
  border: #0088a9 1px solid;
  transition: 0.2s;
  cursor: pointer;
}

mat-card {
  margin: 20px 0;
}

.error-card {
  background-color: #ffebee;
  color: #b71c1c;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table {
  width: 80%;
  border-collapse: collapse;
  background: #0c192c;
  color: #edf0f1;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

td {
  border: 1px solid #30798a;
  padding: 10px;
  text-align: left;
  font-weight: 400;
  font-style: italic;
}

tr:hover {
  background-color: rgba(79, 195, 220, 0.2);
}

th {
  border: 1px solid #4fc3dc;
  font-weight: 550;
}

@media (max-width: 1300px) {
  table {
    width: 100%;
  }

  th, td {
    padding: 12px;
  }
}

@media (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
  }

  td {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #333;
  }
}