body {
  padding-top: 100px;
}

table {
  width: 80%;
  border-collapse: collapse;
  background: #0c192c;
  color: #edf0f1;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

td {
  border: 1px solid #30798a;
  padding: 10px;
  text-align: left;
  font-weight: 400;
  font-style: italic;
}

th {
  border: 1px solid #4fc3dc;
  font-weight: 550;
}

tr:hover {
  background-color: rgba(79, 195, 220, 0.2);
}

.edit-btn {
  width: 50px; 
  height: 50px; 
  background-color: #0c192c; 
  border: 1px solid #0c192c;
} 

.edit-btn:hover {
  background-color: rgba(79, 195, 220, 0.2);
  border: 1px solid rgba(79, 195, 220, 0.2);
} 
  
  img {
    display: block;
    margin: auto; /* Obrázek zarovnán na střed */
  }
  
  .center {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 69px;
  }
  
  .users-container {
    margin: 20px;
  }
  
  .add-user-btn {
    background-color: #0088a9;
    color: #fafafa;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10%;
    border-radius: 5px;
    transition: 0.3s;
    float: right;
  }
  
  .add-user-btn:hover {
    background-color: #006e86;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c192c15;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container-full {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #0c192c;
    padding: 25px;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 80px;
    box-shadow: 0 0 5px #4fc3dc;
  }

  .form-container-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 80%;
    margin-left: 20px;
    margin-top: 50px;
  }
  
  .form-container-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    height: 80%;
    margin-right: 20px;
    margin-top: 50px;
  }
  
  .form-group {
    margin-top: 10px;
    width: 100%;
  }

  .image-uploader {
    width: 100%;
    height: 250px;
    border: solid 1px #006e86;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
  
  .image {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  
  /*.form-group input,
  .form-group select {
      width: 100%;
      padding: 8px;
      color: #fafafa;
      background-color: #0e1d33;
      border: 1px solid #172f52;
      border-radius: 4px;
    }*/
  
  .form-buttons {
    margin-top: 20px;
    margin-left: 750px;
  }
  
  .submit-btn {
    background: #4fc3dc;
    border: solid 1px #4fc3dc;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  .upload-btn {
    background: #4fc3dc;
    border: solid 1px #4fc3dc;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 50px 50px 50px 50px;
  }

  .upload-btn:hover {
    background-color: #006e86;
    border: solid 1px #006e86;
    transition: 0.3s;
  }
  
  .cancel-btn {
    background: #0c192c;
    color: white;
    padding: 10px 20px;
    border: solid 1px #4fc3dc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #006e86;
    border: solid 1px #006e86;
    transition: 0.3s;
  }
  
  .cancel-btn:hover {
    border: solid 1px #006e86;
    transition: 0.3s;
  }

  .add-author-btn, .add-genre-btn {
    background-color: #0088a9;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10%;
    border-radius: 5px;
    transition: 0.3s;
    float: right;
}

.add-author-btn:hover, .add-genre-btn:hover {
    background-color: #006e86;
}

.center {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 69px;
}