
    <div class="container">
        <!-- Levá část s filtry -->
        <div class="filter-container">
            <h1>Filtry</h1>

            <hr>
            <textarea class="vyhledavaniKnih" placeholder="Název Knihy" [(ngModel)]="bookSearch"></textarea>
            <hr>
            <div class="price">
                <div class="price-slider">
                    <div class="filter-text">Cena:</div>
                    <div class="slider">
                        <mat-slider class="example-margin" [max]="maxPrice" [min]="minPrice" [step]="priceStep">
                            <input [value]="minSelectedPrice" matSliderStartThumb [(ngModel)]="minSelectedPrice" #slider>
                            <input [value]="maxSelectedPrice" matSliderEndThumb [(ngModel)]="maxSelectedPrice" #slider>
                        </mat-slider>
                    </div>
                    <div class="slider-value">
                        <label>{{minSelectedPrice}}</label>
                        <label>{{maxSelectedPrice}}</label>
                    </div>
                </div>
            </div>

            <hr>
            <div class="filtr">
                <div class="scroller">
                    <div class="nazevFiltru">
                        Autor:
                        <textarea placeholder="Frajer Novotný" class="vyhledavaniFiltru" [(ngModel)]="authorSearch"></textarea>
                    </div>
                    @for (author of getFilteredAuthors(); track author.id) {
                    <div class="checkbox">
                        <mat-checkbox class="angularcheck" (click)="authorClicked(author.id)">{{author.firstName}}
                            {{author.lastName}}</mat-checkbox>
                    </div>
                    }
                </div>
            </div>
            <hr>
            <div class="filtr">
                <div class="scroller">
                    <div class="nazevFiltru">
                        Žánr:
                        <textarea placeholder="Komedie" class="vyhledavaniFiltru" [(ngModel)]="genreSearch"></textarea>
                    </div>
                    @for (genre of getFilteredGenres(); track genre.id) {
                    <div class="checkbox">
                        <mat-checkbox class="angularcheck"
                            (click)="genreClicked(genre.id)">{{genre.name}}</mat-checkbox>
                    </div>
                    }
                </div>
            </div>
            <!--Tlačítko pro vyhledání-->
            <button class="search-btn" (click)="searchBooks()">Vyhledat</button>
        </div>

        <!-- Pravá část s mřížkou knih -->
        <div class="books-grid-container">
            <div class="books-grid">
                @for (book of books; track book.id) {
                <div class="book-card" (click)="bookCardClicked(book.id)">
                    <div class="book-image" [style]="{'background-image': book.hasImage ? 'url(' + bookService.rootUrl + '/api/book/image/' + book.id + ')' : 'none'}">
                        @if (book.hasImage) {
                        <img [src]="bookService.rootUrl + '/api/book/image/' + book.id" alt="{{ book.name }}">
                        } @else {
                        <div class="no-image">
                            <i class="fas fa-book" style="font-size: 48px; color: #999;"></i>
                        </div>
                        }
                    </div>
                    <div class="book-info">
                        <h3>{{ book.name }}</h3>
                        <p class="author">{{ book.author.firstName }} {{ book.author.lastName }}</p>
                        <div class="genres">
                            @for (genre of book.genres; track genre.id) {
                            <span class="genre-tag">{{ genre.name }}</span>
                            }
                        </div>
                        <p class="price">{{ book.price }} Kč</p>
                    </div>
                </div>
                } @empty {
                @if (loading) {
                <div class="spinner-container">
                    <mat-spinner></mat-spinner>
                </div>
                }
                }
            </div>
        </div>
    </div>