<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button class="add-user-btn" (click)="showForm = true">Přidat uživatele</button>
    
     <!-- Formulář v div -->
      @if (showForm) {
        <div class="overlay">
            <div class="form-container">
                <mat-form-field class="form-group">
                  <mat-label>Jméno</mat-label>
                  <input matInput placeholder="Zadejte jméno" [formControl]="firstName">
                </mat-form-field>
              
                <mat-form-field  class="form-group">
                  <mat-label>Přijmení</mat-label>
                  <input matInput placeholder="Zadejte přijmení" [formControl]="lastName">
                </mat-form-field>
                         
                <mat-form-field class="form-group">
                  <mat-label>E-mail</mat-label>
                  <input matInput placeholder="Zadejte e-mail" [formControl]="mail">
                </mat-form-field>
                       
                <mat-form-field  class="form-group">
                  <mat-label>Zadejte heslo</mat-label>
                  <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="password" />
                </mat-form-field>
                           
                <mat-form-field>
                  <mat-label>Role uživatele</mat-label>
                  <mat-select [formControl]="role">
                    @for (option of roleOptions; track option.value) {
                      <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              
              <div class="form-buttons">
                <button class="submit-btn" (click)="createUser()">Přidat</button>
                <button class="cancel-btn" (click)="showForm = false">Zrušit</button>
              </div>
            </div>
          </div>
      }

    <div class="center">
        <table>
            <thead>
              <tr>
                <th>Jméno</th>
                <th>Přijmení</th>
                <th>Email</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
                @for (user of users; track user.id) {
                <tr>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{{ getRoleDisplayName(user.role) }}</td>
                    <!-- TODO smazání -->
                  </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>