<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<header>
  <!-- Logo -->
  <a class="logo" routerLink="/home">Ninja
    Books</a>

  <!-- Navigace -->
  <nav>
    <ul class="nav__links">
      <!-- Zobrazit pokud je uživatel přihlášen -->
      @if (this.authService.currentUser != null) {

      <!-- Zobrazovat košík pokud je uživatel zákazník -->
      @if (this.authService.currentUser.role == 'customer') {
      <div class="navbuttons">
        <li class="links"><a routerLink="/wishlist" class="wishlist-link">
            Seznam přání&nbsp;<i class="fas fa-heart"></i>
        </a></li>
        <li class="links">
          <a routerLink="/kosik" class="cart-link">
            Košík&nbsp;<i class="fas fa-shopping-cart" [matBadge]="cartItemCount" matBadgeColor="warn" [matBadgeHidden]="cartItemCount == 0"></i>
          </a>
        </li>
      </div>
      }
      <!-- Zobrazit pokud je uživatel není zákazník -->
      @else {
      <!-- TODO dořešenízobrazování rolím -->
      <li class="links"><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a>
      </li>
      <li class="links"><a routerLink="/users">Uživatelé</a></li>
      <li class="links"><a routerLink="/authors" routerLinkActive="active" ariaCurrentWhenActive="page">Autoři</a></li>
      <li class="links"><a routerLink="/genres" routerLinkActive="active" ariaCurrentWhenActive="page">Žánry</a></li>
      <li class="links"><a routerLink="/books" routerLinkActive="active" ariaCurrentWhenActive="page">Knihy</a></li>
      <li class="links"><a routerLink="/reviews" routerLinkActive="active" ariaCurrentWhenActive="page">Recenze</a></li>
      }
      <div>
        <li class="user-name">
          <i class="fas {{this.authService.currentUser.role == 'admin' ? 'fa-cog' : 'fa-user'}}"
            style="margin-right: 10px;"></i>
          {{ this.authService.isAdmin ? 'Admin' : this.authService.currentUser.firstName + ' ' +
          this.authService.currentUser.lastName }}
        </li>
        <button (click)="this.authService.logout()" class="user-logout">Odhlásit se</button>
      </div>
      } @else {
      <li class="links-pre"><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Přihlásit
          se</a></li>
      }
    </ul>
  </nav>
</header>

<main>
  <router-outlet />
</main>

<footer>
  takže tady je nějakej ten požadovanej text že ,,heeeej tady ty obrázky a tak jsme si vypůjčili z knihy dobrovský". Ale
  v klidu je to jen školní projekt takže by to mělo bejt cajk. Taky myslím že je tady tenhle znak uplně zbytečnej, ale
  přijde mi vtipný ho sem přesně z tohohle důdovu dát, takže tady je ©
</footer>

<style>
.cart-link {
    position: relative;
    display: flex;
    align-items: center;
}

.fa-shopping-cart {
    font-size: 20px;
}

/* Úprava pozice badge */
::ng-deep .mat-badge-content {
    font-size: 12px;
    height: 18px !important;
    width: 18px !important;
    line-height: 18px !important;
}
</style>