@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #0c192c;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #0c192c;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #edf0f1;
    cursor: pointer;
    margin-bottom: 17px;
    margin-top: 17px;
}

.user {
    height: 100%;
    padding: 30px;
    color: white;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: row;
    border: 1px solid #0c192c;
    border-radius: 10px;
    box-shadow: 
        0 0 20px #4fc3dc;
}

.user-logout {
    margin-right: 30px;
    position: relative;
} 

.user-list {
    color: white;
    border-radius: 5px;
    border: 1px solid #0088a9;
    margin-left: 20px;
    
} 

.links {
    margin-top: auto;
    margin-bottom: auto;
}

.links-pre {
    margin-top: auto;
    margin-bottom: auto;
} 

.nav__links {
    display: flex;
    list-style: none;
    gap: 25px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.nav__links li {
    padding: 10px;
}

.nav__links a {
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav__links a:hover {
    background-color: rgba(63, 205, 248, 0.185);
    box-shadow: 
        0 0 20px #4fc3dc;
    transition: 0.3s;
}

.login {
    margin-left: 50px;
}

button {
    color: white;
    border-radius: 5px;
    background-color:#0c192c;
    border: 1px solid #0088a9;
    margin-left: 20px;
    transition: 0.3s;
    padding: 5px;
}

button:hover {
    background-color: rgba(63, 205, 248, 0.185);
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 
        0 0 10px #4fc3dc;
} 

.user-name {
    margin-top: auto;
    margin-bottom: auto;
    color: #fafafa;
    font-size: 24px;
}