<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<header class="main-header">
  <!-- Logo -->
  <a class="logo" routerLink="/home">Ninja Books</a>

  <!-- Navigace -->
  <nav [class.open]="menuOpen">
    <ul class="nav__links">
      <!-- Zobrazit pokud je uživatel přihlášen -->
      @if (this.authService.currentUser != null) {

      <!-- Zobrazovat košík pokud je uživatel zákazník -->
      @if (this.authService.currentUser.role == 'customer') {
      <div class="navbuttons">
        <li class="links"><a routerLink="/wishlist" class="wishlist-link">
            Seznam přání
          </a></li>
        <li class="links">
          <a [matBadge]="cartItemCount" matBadgeColor="warn" [matBadgeHidden]="cartItemCount == 0" routerLink="/kosik"
            class="cart-link">
            Košík
          </a>
        </li>
        <li class="links">
          <a routerLink="/orders" class="cart-link">
            Moje objednávky
          </a>
        </li>
      </div>
      }
      @if (this.authService.currentUser.role == 'admin') {
      <li class="links"><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a>
      </li>
      <li class="links"><a routerLink="/users">Uživatelé</a></li>
      }
      @if (this.authService.currentUser.role == 'admin' || this.authService.currentUser.role =='databaseManager') {
      <li class="links"><a routerLink="/authors" routerLinkActive="active" ariaCurrentWhenActive="page">Autoři</a></li>
      <li class="links"><a routerLink="/books" routerLinkActive="active" ariaCurrentWhenActive="page">Knihy</a></li>
      <li class="links"><a routerLink="/genres" routerLinkActive="active" ariaCurrentWhenActive="page">Žánry</a></li>
      }
      @if (this.authService.currentUser.role == 'admin' || this.authService.currentUser.role =='reviewApprover') {
      <li class="links"><a routerLink="/reviews" routerLinkActive="active" ariaCurrentWhenActive="page">Recenze</a></li>
      }
      <div class="userbox">
        <li class="user-name">
          <i class="fas {{this.authService.currentUser.role == 'admin' ? 'fa-cog' : 'fa-user'}}"
            style="margin-right: 10px;"></i>
          {{ this.authService.isAdmin ? 'Admin' : this.authService.currentUser.firstName + ' ' +
          this.authService.currentUser.lastName }}
        </li>
        <div class="bodyalogout">
          @if (this.authService.currentUser.role == 'customer') {
          <span style="color: #fafafa;">Počet bodů: {{this.authService.currentUser.points}} bodů</span>
          }
          <button (click)="this.authService.logout()" class="user-logout">Odhlásit se</button>
        </div>
      </div>
      } @else {
      <li class="links-pre"><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Přihlásit
          se</a></li>
      }
    </ul>
  </nav>
  <button class="menu-toggle" (click)="toggleMenu()" aria-label="Menu">
    <i class="fas fa-bars"></i>
  </button>
</header>

<main>
  <router-outlet />
</main>

<footer>
  Studentský zápočtový projekt na předmět KIKM/DBS2 a KIT/TNPW2
  <br>
  &copy; 2025
</footer>

<style>
  .cart-link {
    position: relative;
    display: flex;
    align-items: center;
  }

  .fa-shopping-cart {
    font-size: 20px;
  }

  /* Úprava pozice badge */
  ::ng-deep .mat-badge-content {
    font-size: 12px;
    height: 18px !important;
    width: 18px !important;
    line-height: 18px !important;
  }
</style>