<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button class="add-user-btn" (click)="showAuthorForm = true">Přidat autora</button>
    
     <!-- Formulář v div -->
      @if (showAuthorForm) {
        <div class="overlay">
            <div class="form-container">
                <mat-form-field class="form-group">
                  <mat-label>Jméno</mat-label>
                  <input matInput placeholder="Zadejte jméno" [formControl]="firstName">
                </mat-form-field>
              
                <mat-form-field  class="form-group">
                  <mat-label>Přijmení</mat-label>
                  <input matInput placeholder="Zadejte přijmení" [formControl]="lastName">
                </mat-form-field>
                         
                <mat-form-field>
                  <mat-label>Narození</mat-label>
                  <input matInput [matDatepicker]="picker" [formControl]="birth" class="form-group">
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>                               

              <div class="form-buttons">
                <button class="submit-btn" (click)="createAuthor()">Přidat</button>
                <button class="cancel-btn" (click)="showAuthorForm = false">Zrušit</button>
              </div>
            </div>
          </div>
      }

    <div class="center">
        <table>
            <thead>
              <tr>
                <th>Jméno</th>
                <th>Přijmení</th>
                <th>Datum Narození</th>
              </tr>
            </thead>
            <tbody>
                @for (author of authors; track author.id) {
                <tr>
                    <td>{{ author.firstName }}</td>
                    <td>{{ author.lastName }}</td>
                    <td>{{ author.birth | date:'dd.MM.yyyy' }}</td>
                    <!-- TODO smazání -->
                    
                  </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>