<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: #fafafa; margin: 20px;">Moje objednávky</h1>
    <div class="center">
        <table>
            <thead>
                <tr>
                    <th>ID Objednávky</th>
                    <th>Cena</th>
                    <th>Status</th>
                    <th>Adresa</th>
                    <th>Knihy</th>
                </tr>
            </thead>
            <tbody>
                @for (order of orders; track order.id) {
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.totalPrice}} Kč</td>
                        <td>
                            @if (order.status == 'done') {
                                Hotovo
                            }
                            @else {Probíha vyřizování}
                        </td>
                        <td>{{order.address.street}}, {{order.address.city}}</td>
                        <td>
                            @for (book of order.orderedBooks; track book.id) {
                                {{book.name}}{{!$last ? ', ' : ''}}
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
