<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="center">
        <table>
            <thead>
                <tr>
                    <th>ID Objednávky</th>
                    <th>Uživatel</th>
                    <th>Cena</th>
                    <th>Status</th>
                    <th>Adresa</th>
                    <th>Knihy</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jan Novák</td>
                    <td>999 Kč</td>
                    <td>Doručeno</td>
                    <td>Hlavní 123, Praha</td>
                    <td>Kniha 1, Kniha 2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Petr Svoboda</td>
                    <td>499 Kč</td>
                    <td>Zpracovává se</td>
                    <td>Náměstí 45, Brno</td>
                    <td>Kniha 3</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
