<div class="container">
    <div class="content-wrapper">
        <div>
            <div class="forms">
                <!-- Zobrazení výběru adres nebo vytvoření nové -->
                @if (addresses.length != 0) {
                <mat-form-field>
                    <mat-label>Vyberte adresu</mat-label>
                    <mat-select [(ngModel)]="selectedAddress" (selectionChange)="dropdownChanged()">
                        @for (address of addresses; track address.id) {
                        <mat-option [value]="address">{{ address.street }} {{ address.city }} {{ address.postCode
                            }}</mat-option>
                        }
                        <mat-option [value]="''">Zadat novou</mat-option>
                    </mat-select>
                </mat-form-field>
                }
                @if (showAddressForm) {
                <!--
                    <div class="form-next">
                        <mat-form-field class="form-group">
                            <mat-label>Křestní jméno</mat-label>
                            <input matInput placeholder="Zadejte Křestní jméno" [formControl]="firstName">
                        </mat-form-field>
        
                        <mat-form-field class="form-group">
                            <mat-label>Přijmení</mat-label>
                            <input matInput placeholder="Zadejte Přijmení" [formControl]="lastName">
                        </mat-form-field>
                    </div>
        
                    <mat-form-field class="form-group">
                        <mat-label>E-Mail</mat-label>
                        <input matInput placeholder="Zadejte e-mail" [formControl]="email">
                    </mat-form-field>
        
                    <mat-form-field class="form-group">
                        <mat-label>Telefonní číslo</mat-label>
                        <input matInput placeholder="Zadejte Telefonní číslo" [formControl]="phoneNumber">
                    </mat-form-field>
                    -->

                <div class="form-next">
                    <mat-form-field class="form-group">
                        <mat-label>Ulice a číslo popisné</mat-label>
                        <input matInput placeholder="Zadejte název ulice a číslo popisné" [formControl]="street">
                    </mat-form-field>

                    <!--
                        <mat-form-field class="form-group">
                            <mat-label>Číslo popisné</mat-label>
                            <input matInput placeholder="Zadejte číslo popisné" [formControl]="streetNumber">
                        </mat-form-field>
                        -->
                </div>

                <div class="form-next">
                    <mat-form-field class="form-group">
                        <mat-label>Město</mat-label>
                        <input matInput placeholder="Zadejte název města" [formControl]="city">
                    </mat-form-field>

                    <mat-form-field class="form-group">
                        <mat-label>PSČ</mat-label>
                        <input matInput placeholder="Zadejte PSČ" [formControl]="psc" type="number">
                    </mat-form-field>
                </div>
                }
            </div>

            <div class="forms">
                <mat-checkbox [(ngModel)]="useDiscount" (change)="useDiscountChanged()">Použiju slevu</mat-checkbox>
                @if (useDiscount) {
                @if (discounts.length != 0) {
                <mat-select [(ngModel)]="selectedDiscount">
                    @for (discount of discounts; track discount.id) {
                    <mat-option [value]="discount">{{discount.price}} Kč - {{ discount.code }}</mat-option>
                    }
                </mat-select>
                } @else {
                @if (authService.currentUser!.points >= minDiscountPoints) {
                <!--
                    FIXME prohlížeč crashuje když je počet uživatelských bodů příliš velký (třeba víc jak 10 000),
                    bylo by vhodnější nahraddit slider jiným komponentem nebo limitovat maximálnéí počet bodů

                    ZATÍM BYCH TO NECHAL TAKHLE A NEŘEŠIL TO
                -->
                <hr>
                <label class="bila" style="margin-top: 15px;"> Minimum: {{minDiscountPoints}} bodů</label>
                <mat-slider [max]="authService.currentUser!.points" [min]="minDiscountPoints" [step]="10" showTickMarksdiscrete>
                    <input matSliderThumb [(ngModel)]="discountPointValue">
                </mat-slider>
                <label class="bila">Máte: {{authService.currentUser!.points}} bodů</label>
                <label class="bila">Sleva: {{discountPointValue}} Kč</label>
                <button class="pridatSlevuCudl" (click)="createDiscount()">Použít body</button>
                } @else {
                <p>Zatím nemáte dostatek bodů na slevu.</p>
                }
                }}
            </div>
        </div>

        <div class="items">
            <h2>Váš košík</h2>
            <hr>
            @for (book of books; track book.id) {
            <div class="kniha">
                <div class="obrazekDiv" (click)="bookCardClicked(book.id)">
                    <div class="obrazek">
                        @if (book.hasImage) {
                        <img [src]="cartService.rootUrl + '/api/book/image/' + book.id" class="obrazek">
                        } @else {
                        <i class="fas fa-book" style="font-size: 48px; color: #999;"></i>
                        }
                    </div>
                </div>
                <div class="nazevKnihy" (click)="bookCardClicked(book.id)">
                    <h2>{{ book.name }}</h2>
                    <br>
                    <h4 style="color:gray;">{{ book.author.firstName }} {{ book.author.lastName }}</h4>
                </div>

                <div class="cenaDiv">
                    <h2 class="cena">Cena:&nbsp;</h2>
                    <h2 class="cenaCislo">{{ book.price }},-</h2>
                    <button class="smazatButton" (click)="removeBook(book.id)">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
            } @empty {
            @if (loading) {
            <div class="spinner-container">
                <mat-spinner></mat-spinner>
            </div>
            }
            }
        </div>
    </div>
    <!-- Objednat -->
    <div class="cenaAPod">
        <h2 style="color: #fafafa;">Celková cena: {{ totalPrice }} Kč</h2>
        <button class="dokoncitCudl" (click)="orderButton()">Objednat</button>
    </div>
</div>